body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-div {
  width: 50%;
  border: 1px solid grey;
  height: 100px;
  margin-left: 50px;
  margin-top: 50px;
}

.main-img {
  width: 50px;
  height: 80px;
  float: left;
  margin-left: 40px;
  margin-top: 10px;
}

.main-div h4 {
  float: left;
  margin-left: 60px;
}

.main-div button {
  margin-top: 20px;
  background-color: red;
  border: none;
  height: 30px;
  color: white;
}

.add-to-cart img {
  width: 10%;
  float: right;
  height: 5%;
}